<div class="sidebar-contact">
  <h2>{{ _("Contact") }}</h2>

  <div>
    <ul>
    <li><p><a class="reference external" href="mailto:daniele@vurt.org">Email Daniele Procida</a></li>
    <li>
      <p>
        <a class="reference external" href="https://github.com/evildmp/diataxis-documentation-framework">GitHub</a>:
        <a class="reference external" href="https://github.com/evildmp/diataxis-documentation-framework/issues">Issues</a>,
        <a class="reference external" href="https://github.com/evildmp/diataxis-documentation-framework/discussions">Discussions</a>
      </p>
    </li>
    <li><p><i>#diataxis</i>, <a class="reference external" href="https://www.writethedocs.org/slack/">Write the Docs Slack</a></p></li>
    </ul>
  </div>

</div>