h1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 48px;
  margin-top: 60px;
  margin-bottom: 30px;
}

h2 {
  font-size: 24px;
  line-height: 32px;
}

h3 {
  font-size: 20px;
  line-height: 28px;
}

h4,
h5,
h6 {
  font-size: 18px;
  line-height: 25px;
}

.floated {width: 100%; margin-bottom: .75rem; margin-left: .75rem;}

@media only screen and (min-width: 768px) {
  .column {
    float: left;
    width: 45%;
    margin-right: 5%;
    margin-bottom: 30px;

    h2 {
      margin-top: 0;
    }
  }

  .floated {width: 50%; float: right;}

}

.clearfix {
  clear: both;
}

.embed-responsive {
  position: relative;
  width: 100%;
}
.embed-responsive:before {
  display: block;
  content: "";
}
.embed-responsive-item,
.embed-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.embed-responsive-16by9::before {
    padding-top: 56.25%;
}

.embed-responsive-4by3::before {
    padding-top: 75%;
}

article .sidebar {width: 37%; border-color: #FF9300; margin-bottom: .5rem;}
article p.sidebar-title {background: #FF9300;}
article ul {margin-left: 1em;}

hr.docutils {background-color: #FF9300;}

.quote {font-size: large; font-style: italic; margin: 3em 10% .5em 10%;}
.attribution {margin: 0 10% 3em 10%; font-size: large; padding-bottom: 1em; border-bottom: 1px solid #FF9300;}


div.sidebar-contact h2 {color: gray; font-size: 110%; padding-left: 1.2rem; color: #FF9300;}
div.sidebar-contact ul {color: gray; font-size: 87.5%; list-style: none;}
div.sidebar-contact li {padding-bottom: 1rem;}
div.sidebar-contact a {text-decoration: none; color: gray;}
div.sidebar-contact a:hover {color: #FF9300;}

div.sidebar-tree .toctree-l1>.reference {color: gray;}
div.sidebar-tree .toctree-l1>.reference:hover {color: #FF9300;}

.toctree-checkbox~label .icon svg {color: #FF9300;}

.toc-tree li.scroll-current>.reference {color: #FF9300;}
